@font-face {
    font-family: ngchud;
    src: url("https://cdn.discordapp.com/attachments/839958624340148314/1056962759608242206/digital-7.ttf");
}

@font-face {
    font-family: ngchud2;
    src: url("https://cdn.discordapp.com/attachments/839958624340148314/1056963404834820136/Montserrat-Medium.ttf")
}

.container{
    position: absolute;
    left: 20%;
    bottom: 4%;
    transform: translateX(-50%);
    width: 8vw;
    height: 4vw;
    background: none;
    border-radius: 0.4vw;
}

#velocidad{
    position: absolute;
    font-family: ngchud;
    font-size: 2.5vw;
    color:white;
    text-shadow: 1px 2px 2px black;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 3, 19, 0.908);
    box-shadow: 0 0 4px black;
    border: .15vw dashed rgba(179, 195, 248, 0.445);
    text-align: left;
    padding: 0.4vw;
    line-height: 5vw;
    text-align: center;
    left: 13%;
    bottom: 14%;
}

#gasolina-icon{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 0.55vw;
    text-shadow: 0px 0px 2px black;
    background-color: none;
    padding: .2vw .5vw;
    width: 1.5vw;
    border-radius: 0.1vw;
    left: 33%;
    bottom: 119%;
}

#gasolina{
    position: absolute;
    font-family: ngchud2;
    font-size: 0.6vw;
    color: white;
    text-shadow: 0px 0px 2px black;
    left: 50%;
    bottom: 123%;
}

#km{
    position: absolute;
    font-family: ngchud2;
    background-color: none;
    font-size: 0.7vw;
    color: white;
    text-shadow: 1px 2px 1px black;
    padding: 0.2vw;
    left: 37.5%;
    bottom: 40%;
}